#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    align-content: center;
}
body {
	margin:0;
	padding:0;
	min-width:998px;
	height:100%;
}
div#wrap {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    text-align: center;
    background-color: #6fa100;
    margin: auto;
    border: 1px;
}
#nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 300px;
    width: 100px;
    float: left;
    padding: 5px;
}

.news {
    width: 70%;
    float: left;
    padding: 0px;
    margin: auto;
    /* margin-left: auto; */
    margin-right: auto;
}

#auth_container {
    line-height: 30px;
    padding: 5px;
    float: left;
}

#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
    bottom:0;
    width: 100%;
}

.auth {
    padding: 5px;
	padding-left: 0px;
	padding-right: 0px;

}

.login {
	
    text-align: right;
    padding: 5px;
    align-content: flex-end;
}

#auth_container {
    text-align: right;
    padding: 5px;
    align-content: flex-end;
    width: 20%;
}

.menu {
    text-align: center;
}

.menu ul {
    display: inline-table;
}

.menu ul li {
    display: inline;
}
.sign li {
    width: 100%;
    text-align: center;
}
input {
    width: 100%;
    padding: 5px;
    margin: 5px;
}
div.post {
    /* padding: 25px; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f3f2f2;
}
.post_header {
    margin-left:0px;
}

.title_name {
    padding-left: 3px;
}
.post_rate {
    padding-left: 20px;
}

.i-sprite_b-rating_up-active, .i-sprite--b-rating__up-active {
    width: 20px;
    height: 12px;
    background: url("../images/i-sprite.png");
    background-position: 415px 349px;
}
ul.post_rate {
    list-style-type: none;
    padding: 2px;
}
li.title_desc {
    list-style-type: none;
    padding-top: 1px;
    margin: 0px;
}
ul.post_title {
    list-style-type: none;
    margin-top: 3px;
    margin-bottom: 0px;
}
h6 {
    margin-top: 3px;
    margin-bottom: 0px;
}

#create_post1 , #create_post2 {
    width: 30%;
}