div#content-wrap {
	margin-left: 23%;
	margin-right: 23%;
	background-color: aqua;
}

div#content { 
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

div.form-group {
	text-align: center;
}

#post-title {
	margin-top: 10px;
	margin-bottom: 5px;
	width: 820px;
}

div#pick-image {
	text-align:left;
	margin-top: 5px;
	margin-bottom: 50px;
/* 	margin-left: 87px; */
/* 	margin-right: 87px; */
	background-color: lime;
}

#create-post {
	text-align: center;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
